*{
    font-family: Inter;
}

.description div p{
    color:  #15133C;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 1vw; 
    font-weight:bold;
}

.description input{
    height: 1.5vw;
    padding:0px;
    padding-left: 10px;
}